@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+2:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'M PLUS 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.logo {
  width: 12rem;
  height: 4rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bebas Neue', cursive;
  text-align: start;
}

p, ul, li {
  text-align: start;
}

/* code {
  font-family:'Fredoka One' !important;
} */
