.blur {
  background: #6cb4ac;
  position: absolute;
  border-radius: 50%;
  filter: blur(212px);
  z-index: 0;
  filter: blur(150px);
}
.btn {
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
}
.btn:hover {
  cursor: pointer;
}

.stroke-text {
  color: #6cb4ac;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}


.hero {
  display: flex;
  justify-content: space-between;
}
.left-h {
  padding: 2rem;
  padding-top: 1.5rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}
.right-h {
  /* background-color: #6cb4ac; */
  flex: 1;
  position: relative;
}
.hero-blur {
  width: 22rem;
  height: 30rem;
  left: 0;
}

.the-best-ad {
  margin-top: 4rem;
  background-color: #393d42;
  border-radius: 4rem;
  width: fit-content;
  padding: 20px 13px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
.the-best-ad > span {
  z-index: 2;
}
.the-best-ad > div {
  position: absolute;
  background-color: #6cb4ac;
  width: 5.4rem;
  height: 80%;
  left: 8px;
  z-index: 1;
  border-radius: 3rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color: seashell;
  text-overflow: inherit;
}

.hero-text > div:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}

.figures {
  display: flex;
  gap: 2rem;
}
.figures > div {
  display: flex;
  flex-direction: column;
}
.figures > div > span:nth-of-type(1) {
  color: white;
  font-size: 2rem;
}
.figures > div > span:nth-of-type(2) {
  color:seashell;
  text-transform: uppercase;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  font-weight: normal !important;
}
.hero-buttons > :nth-child(1) {
  color: white;
  background-color: var(--orange);
  width: 8rem;
}
.hero-buttons > :nth-child(2) {
  color: white;
  background-color: transparent;
  width: 8rem;
  border: 2px solid var(--orange);
}

/* right side */
.right-h > .btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: white;
  background-color: #6cb4ac;
}

.hero-image {
  position: absolute;
    top: -4rem;
    right: -6rem;
    width: 70rem;


}
.hero-image-back {
  position: absolute;
  top: 4rem;
  right: 20rem;
  z-index: -1;
  width: 15rem;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero-blur
  {
    width: 14rem;
  }
  .the-best-ad {
    margin-top: 0;
    font-size: small;
    align-self: center;
    transform: scale(0.8);
  }
  .hero-text {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }
  .hero-text > div:nth-of-type(3) {
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }
  .hero-buttons{
   justify-content: center;
  }
  .figures > div > span:nth-of-type(1) {
    font-size: large;
  }
  .figures > div > span:nth-of-type(2) {
    font-size: small;
  }
  .right-h {
    position: relative;
    background: none;
  }
  .hero-image {
    position: relative;
    width: 15rem;
    left: 7rem;
    top: 4rem;
    align-self: center;
  }
  .hero-image-back{
    /* position: relative; */
    width: 15rem;
    left: 2rem;
    top: 0rem;
  }
}
