/* .singleTrainee-container {
    height: 50%;
} */


.oneTrainee{
    color: white;
    text-align: center;
}
/* .card-title{
    color: #0A99B1;
    text-align: center;
} */

.scroll {
    height: 90%;
}

.cardBtn {
    display: flex;
    justify-content: center;
}

.singleTraineeContainer-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 35rem;
}

/* .container-stack {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    justify-content: space-evenly;
    height: 35rem;
} */

.clientinfo-container{
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 15rem;
    /* max-width: 30rem; */
    width: 80%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2.25rem;
    margin: auto;
    height: 100%; 
}

.singleTraineeCards{
    overflow: auto;
    /* width: auto; */
    /* height: 12rem; */
    /* padding: 0.25rem; */
    background: white;
    border: 1px solid black;
    border-radius: 30px;
    /* margin:auto; */
}
.clientAppt-container{
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 15rem;
    /* max-width: 30rem; */
    width: 80%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2.25rem;
    margin: auto;
    height: 100%;
}
.clientAppt-card{
    background: white;
    width: auto;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2.25rem;
    margin: auto;

}

.clientWorkOuts-container{
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 15rem;
    /* max-width: 30rem; */
    width: 80%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2.25rem;
    margin: auto;
    height: 100%;
}

.clientWorkOuts-cards{
    background: white;
    width: auto;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2.25rem;
    margin: auto;

}


/* .card-text{
    font-size: x-large;
    margin-top: 1.5rem;
} */

ul{
 list-style-type: none;
}

@media screen and (max-width: 1024px) {
    /* .container-stack {
        flex-direction: column;
        flex-grow: 1;
    }

    .col-lg-6 {
        width: auto;
    } */
  }

  @media screen and (max-width: 768px) {
    .singleTraineeContainer-wrapper {
      flex-direction: column;
      height: auto;
    }

    .cardBtn {
        font-size: 15px;
    }

    .col-lg-4 {
        width: auto;
    }

    /* .col-lg-6 {
        width: auto;
    } */
  }