/* .singleTrainee-container {
    height: 50%;
} */


.oneTrainee{
    color: white;
    text-align: center;
}
.card-title{
    color: #0A99B1;
    text-align: center;
}
.singleTrainee-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.clientinfo-container{
    background: white;
    width: 70%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2.25rem;
    margin: auto;
    height: 40vw;   
}

.singleTraineeCards{
    width: 20rem;
    /* height: 12rem; */
    padding: 0.25rem;
    background: white;
    border: 1px solid black;
    border-radius: 30px;
    margin:auto;
}
.clientAppt-container{
    background: white;
    width: 70%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2.25rem;
    margin: auto;
    height: 40vw;
}
.clientAppt-card{
    background: white;
    width: 20rem;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2.25rem;
    margin: auto;

}

.clientWorkOuts-container{
    background: white;
    width: 70%;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2.25rem;
    margin: auto;
    height: 40vw;
}

.clientWorkOuts-cards{
    background: white;
    width: 20rem;
    border: 1px solid black;
    border-radius: 30px;
    padding: 2.25rem;
    margin: auto;

}


/* .card-text{
    font-size: x-large;
    margin-top: 1.5rem;
} */

ul{
 list-style-type: none;
}